# DbConfig
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=db_password
DB_DRIVER=postgres
DB_NAME=db_name

# ApiConfig
API_HOST=localhost
API_PORT=3000

# MailConfig
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SENDER=
MAIL_USERNAME=
MAIL_PASSWORD=
